# IDE/Tooling caches
.cache/
.venv/

# Build system artifacts
.xmake/
bin/
build/
compile_commands.json

# Perf
perf.*

# Generated code/libs
glad-generated/

# Configuration files
imgui.ini

# Dependencies (if managed by Nix and symlinked/generated)
external/

# Nix flake lock file
flake.lock
